/* Press Start 2p font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* VT323 font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

body,
.modal-bground {
  background-color: black;
}

/* index.html */

/* logo */
.font-ps2p {
  font-family: 'Press Start 2P', cursive;
}

#game-title {
  background-color: #ff5f1f;
  border-style: ridge !important;
  border-width: 20px !important;
  border-color: #bc13fe !important;
}

h1 {
  color: #ffff00;
  font-size: 4rem;
  font-weight: 900;
}

/* Itroduction text */

.white-text {
  color: white !important;
}

.score-text {
  font-size: 1.4rem;
}

/* Menu buttons */
.button-menu,
h2 {
  font-size: 2rem !important;
  border: none !important;
  background-color: black !important;
  box-shadow: none !important;
}

.btn-primary:focus {
  color: #ff3131;
}

.menu-font-size {
	font-size: 1.1rem;
}

/* custom font colors */
.blue-font {
  color: #04d9ff;
}

.red-font {
  color: #ff3131;
}

.yel-font {
	color: #ffff00;
}

.red-font:hover {
  color: #bc13fe;
}

.purple-font {
	color: #bc13fe;
}

.green-font {
  color: #39ff14;
}

.green-font:hover {
  color: #1f51ff;
}

.orange-font {
	color: #ff5f1f;
}

/* Modal */

.modal-title {
  color: #bc13fe;
}

button:modal {
  background-color: #39ff14;
  border-color: #39ff14;
  color: #ff5f1f;
}

.menu-area {
  margin-top: 100px;
  width: auto;
}

.menu-content {
  margin-top: 50px;
}

.orange-border-bottom {
  border-bottom: 2px solid #ff5f1f !important;
}

.orange-border-top {
  border-top: 2px solid #ff5f1f !important;
}

/* GAME.HTML STYLING */

#game-page-body {
    background:
          linear-gradient(red, transparent),
          linear-gradient(to top left, lime, transparent),
          linear-gradient(to top right, blue, transparent);
    background-blend-mode: screen;
  }

h3 {
	font-size: 1.2rem;
}

.font-vt323 {
	font-family: 'VT323', monospace;
}

.font-size-modal-pg {
	font-size: 1.5rem;
}

.modal-btn {
	background-color: black !important;
	border-color: black !important;
}

/* centers game on game.html page */
#game-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}